global function main()
{	
	paras.renderobjectfactory = "BasicImageFactory";
	paras.backgroundcolour = '0x80000000';
	win &= CreateWindow("child", paras);
	win.setSize(200, 100)
	win.setPosition(0,0);
	

	paras1.backgroundcolour = '0x80ff0000';
	paras1.renderobjectfactory = "GDIFontFactory";
	paras1.text = 'abc';
	paras1.textfont ="ËÎÌו";
	win &= win.createChild("child2", paras1);
	win.setSize(100,50);
	win.setPosition(0,0);
	

	
	
	win.setGeometry(geom);
}